.main_signUp {
  position: absolute;
  width: 552px;
  height: 688px;
  left: 476px;
  top: 60px;
  padding: 20px;
  background: #ffff;
  border-radius: 8px;
  box-shadow: 5px 5px 10px grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 9999;
}

.signup_title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #5c596d;
  margin-top: 15px;
}

.input_forms {
  height: 48px;
  background: #f7f7f7;
  border-radius: 4px;
  margin-bottom: 12px;
}

.btn_regist {
  height: 48px;
  background: #1b5bf7;
  border-radius: 4px;
  margin-top: 12px;
  outline: none;
  border: none;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.agreement {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #5c596d;
}

.agreement span {
  color: #1b5bf7;
}

.p_subtit {
  font-family: "Poppins",sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-top: 20px;
  color: #5c596d;
}
.or_registr {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #5c596d;
  margin-top: 20px;
}

.or_registr Button {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #1b5bf7;
  text-transform: capitalize;
}
