.main_compare {
  width: 1440px;
  min-height: 50vh;
  margin-top: 46px;
  margin-bottom: 42px;
}

.cont_compare {
  width: 89%;
  margin: 0px auto;
}

.compare_title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #1d1a2f;
}

.table_main {
  width: 1296px;
  min-height: 228px;
}

.table_main th {
  min-width: 128px;
  height: 40px;
  border: 2px solid #f7f7f7;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #5c596d;
}