.main_brand {
  width: 1440px;
  height: 370px;
}

.cont_brands {
  width: 89%;
  margin: 0px auto;
}

.brands_title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #5c596d;
  padding-top: 32px;
}

.btn_brands {
  width: 156px;
  height: 36px;
  background: #f7f7f7;
  box-sizing: border-box;
  border-radius: 4px;
  border: none;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #5c596d;
}

.btn_brands:hover {
  border: 1px solid #b3c8fd;
  color: #1b5bf7;
  transition: 0.2s ease-in-out;
}

.brand_box {
  width: 206px;
  height: 75px;
  border: 1px solid #eae9ef;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand_img {
  width: 92px;
  height: 52px;
  object-fit: cover;
}
