.main_banner {
  width: 1440px;
  height: 405px;
  margin-top: 32px;
}

.banner_carus{
  width: 1296px;
  height: 341px;
  border-radius: 8px;
}

.cont_banner{
    width: 89%;
    margin: 0px auto;
}
