@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&family=Prompt:wght@100;200;300;400;500;600&family=Roboto:wght@100;300;400;500;700&display=swap");

.main_header {
  width: 1440px;
  height: 72px;
  background: #ffffff;
  display: flex;
  align-items: center;
}

.cont_header {
  width: 89%;
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mainNav_btn {
    width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icn_btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #5c596d;
}
