.main_market {
  width: 1440px;
  margin-top: 41px;
  margin-bottom: 42px;
}

.cont_market {
  width: 89%;
  margin: 0px auto;
}

.title_market {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #5c596d;
}

.market_box {
  width: 100%;
  height: 116px;
  border: 2px solid #f2f2f2;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 32px 150px 32px 32px;
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.market_box:hover{
  border: 2px solid #b9b9b9;
  transition: 0.3s;
}

.market_name {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #5c596d;
}

.market_location {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  color: #5c596d;
}

.market_worktime {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #5c596d;
}

.goodzone_img {
  width: 411px;
  height: 130px;
  border-radius: 8px;
}

.location_info {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #5c596d;
}

.map_goodzone{
  width: 853px;
  height: 393px;
  object-fit: cover;
}


