.main_oform {
  width: 1440px;
  min-height: 50vh;
  margin-top: 46px;
  margin-bottom: 42px;
}

.cont_oform {
  width: 89%;
  margin: 0px auto;
}

.title_oform_h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #1d1a2f;
}

.mesta_pol {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #5c596d;
  margin-top: 32px;
}

.atcksd {
  height: 100%;
  width: 184px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.border_stack {
  border-right: 2px solid #f2f2f2;
  border-left: 2px solid #f2f2f2;
}

.dostvakd {
  width: 253px;
  height: 56px;
  border: 2px solid #f2f2f2;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.dostvakd:hover {
  background-color: #f2f2f2;
  transition: 0.2s;
}

.dostvakd span {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #5c596d;
  margin-left: 12px;
}

.text_comments {
  width: 520px;
  height: 215px;
}

.agree_txt {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #5c596d;
  margin-top: 24px;
}

.agree_txt span {
  color: #1b5bf7;
}

/* =================== vashZakaz_box */

.vashZakaz_box {
  width: 521px;
  min-height: 380px;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
  padding: 32px;
}

.vashZakaz_title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #5c596d;
  margin-bottom: 32px;
}

.orders_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.order_name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #5c596d;
}
.order_name span {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #9692b0;
}

.order_price {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #5c596d;
}

.hr_order {
  margin: 24px 0px;
  border-bottom: 2px solid #f2f2f2;
}

.dastavka_sum {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dastavka_sum {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #5c596d;
}

.itogo {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  margin-top: 32px;
  line-height: 24px;
  color: #000000;
}

.itogo span{
    margin-left: 32px;
  }
