.main_review {
    width: 1440px;
    margin-top: 41px;
    margin-bottom: 42px;
}

.cont_review {
    width: 89%;
    margin: 0px auto;
}

.title_review {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #5C596D;
}

.info_review {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #5C596D;
    max-width: 514px;
    margin-top: 16px;
}

.FormGroup {
    margin-top: 22px;
}

.input_group {
    width: 520px;
    height: 48px;
    background: #F7F7F7;
    border-radius: 4px;
    padding: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #9692B0;
    margin-top: 8px;
}

.input_label {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #5C596D;
    margin-bottom: -2px;
    margin-top: 32px;
}

.css-1tcs2i1-MuiInputBase-root-MuiInput-root:before {
    border-bottom: none !important;
}

.css-1tcs2i1-MuiInputBase-root-MuiInput-root:after {
    border-bottom: none !important;
}

.input_select {
    width: 520px;
    height: 48px;
    background: #F7F7F7;
    border-radius: 4px;
    padding: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #9692B0;
    margin-top: 8px;
}

.input_placehol {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #9692B0;
    border-radius: 4px;
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
    padding: 0px !important;
    outline: none !important;
    border: none !important;
}

.text_comment {
    width: 520px;
    height: 146px;
    background: #F7F7F7;
    border-radius: 4px;
    margin-top: 8px !important;
}