.main_TechHome {
  width: 1440px;
  height: 380px;
  background: #ffffff;
  margin-top: 32px;
}

.cont_TechHome {
  width: 89%;
  margin: 0px auto;
}

.techHome_title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #5c596d;
  padding-top: 32px;
}

.techHome_prod {
  width: 235px;
  height: 295px;
  background: #f7f7f7;
  border-radius: 8px;
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
}

.techHome_card{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.techHome_img {
  width: 171px;
  height: 167px;
}

.techHomeCard_title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  margin-top: 32px;
  color: #5c596d;
}
