.main_register_ovverlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 98;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main_register {
  position: relative;
  width: 488px;
  height: 420px;
  margin: auto;
  padding: 20px;
  background: #ffff;
  border-radius: 8px;
  box-shadow: 5px 5px 10px grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 99 ;
}

.signin_title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #5c596d;
  margin-top: 15px;
}

.signin_subtitle {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #5c596d;
  margin-top: 16px;
}

.or_enter {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #5c596d;
  margin-top: 24px;
}

.or_registr {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #5c596d;
  margin-top: 24px;
}

.or_registr Button {
  font-family: "Poppins",sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #1b5bf7;
  text-transform: capitalize;
}
