.main_playMarket {
  width: 1440px;
  height: 436px;
  background: #e0e8ff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cont_playMarket {
  width: 89%;
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.zakaz_inf {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 56px;
  color: #1d1a2f;
  width: 513px;
}

.playMarket_downl {
  margin-top: 24px;
}

.playMarket_downl img {
  margin: 0px 5px;
}

.playMarketRight span {
  width: 258px;
  font-family: "Poppins",sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #5c596d;
}
