.main_korzina {
    width: 1440px;
    min-height: 50vh;
    margin-top: 41px;
    margin-bottom: 42px;
}

.cont_korzina {
    width: 89%;
    margin: 0px auto;
}

.title_korzina {
    width: 886px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title_korzina_h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #1D1A2F;

}

.title_korzina_h3 span {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #5C596D;
    margin-left: 23px;
}

.title_korzina_btn {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FF5959;
    border: none;
    outline: none;
    background: none;
}

.img_korzina {
    width: 105px;
    height: 128px;
    object-fit: cover;
    margin-left: 16px;
}

.shopmap_h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #5C596D;
}

.shopmap_p {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #9692B0;
    margin-top: 8px;
}

.btn_map_karzinka {
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #5C596D;
    margin-right: 30px;
    border: none;
    outline: none;
    background: none;
}

.btn_map_karzinka span {
    margin-left: 9px;
}

.increas_btn {
    width: 36px;
    height: 36px;
    background: #F7F7F7;
    border-radius: 50%;
    border: none;
    outline: none;
    font-size: 20px;
}

.increas_btn:hover {
    background: #c5c5c5;
}

.increas_span {
    margin: 0px 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #1D1A2F;
}

/*=============== amount_price */

.amount_price {
    position: absolute;
    right: 6%;
    top: 35%;
    width: 338px;
    height: 324px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.07);
    border-radius: 8px;
    padding: 28px;
}

.amount_h5 {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #5C596D;
}

.amount_h5 span {
    margin-left: 136px;
}

.amount_p {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #9692B0;
    margin-top: 16px;
}

.amount_p span {
    color: #424242;
}

.amount_span {
    color: #1B5BF7 !important;
}

.amount_btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 10px;
    color: #fff ;
    width: 282px;
    height: 40px;
    background: #1B5BF7;
    border-radius: 4px;
    border: none;
    outline: none;
    margin-top: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}


.amount_btn:hover {
    background: #0749f0;
    transition: 0.3s;
}

.title_sapn {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #9692B0;
    margin-top: 16px;
}