.main_deliver {
    width: 1440px;
    margin-top: 41px;
    margin-bottom: 42px;
}

.cont_deliver {
    width: 89%;
    margin: 0px auto;
}

.title_deliver {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #5C596D;
}

.info_deliver {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #5C596D;
    max-width: 632px;
    margin-top: 16px;
}

.deliver_box {
    width: 411px;
    height: 150px;
    border: 2px solid #EAE9EF;
    border-radius: 8px;
    padding: 32px;
}

.deliver_box:hover{
    border: 2px solid #b3b3b4;
    transition: 0.3s;
}

.deliver_name {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #5C596D;
}

.deliver_price {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #1D1A2F;
    margin-top: 22px;
}