.main_HitProductList {
  width: 1440px;
  height: 596px;
  background: #ffffff;
  margin-top: 32px;
  
}

.cont_HitProductListt {
  width: 89%;
  margin: 0px auto;
}

.sdasd{
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.HitProductList_title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #5c596d;
  padding-top: 32px;
}

.hit_prod {
  width: 300px;
  height: 448px;
  background: #ffffff;
  box-shadow: 0px 0px 75px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  padding: 24px;
  margin-right: 32px;
}

.hit_prod:hover{
  border: 1px solid rgba(88, 88, 255, 0.486);
  transition: 0.4s;
}

.hit_prod:hover .quickSee{
  display: block;
  transition: 0.5s ease-in;
}

.hit_img {
  width: 226px;
  height: 170px;
}

.quickSee {
  position: absolute;
  margin-top: 60px;
  margin-left: 20px;
  width: 193px;
  height: 44px;
  background: #ffffff;
  box-shadow: 0px 0px 43px rgba(0, 0, 0, 0.15);
  border-radius: 25px;
  border: none;
  outline: none;
  display: none;
  font-family: "Poppins",sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #9692b0;
}

.quickSee:hover{
  transition: 0.3s;
  color: #363636;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.15);
}

.hit_title {
  max-width: 251px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #5c596d;
  margin-top: 17px;
}

.hit_cost {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  margin-top: 16px;
  color: #1d1a2f;
}

.hit_montCost {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-top: 8px;
  color: #5c596d;
}

.hitcard_bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 22px;
}

.asd span {
  margin-left: 23px;
}

.btn_shop {
  width: 131px;
  height: 40px;
  background: #1b5bf7;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
}

.btn_shop:hover {
  background-color: #013acc;
  transition: 0.3s ease-in-out;
}

.btn_shop:hover .shopicon {
  transform: rotate(14.95deg);
  transition: 0.2s;
}

.btn_shop span {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  order: 1;
  margin-left: 12px;
}

.btn_order {
  width: 131px;
  height: 40px;
  background: #f7f7f7;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #5c596d;
}

.btn_order:hover {
  background: #e0e8ff;
  color: #1b5bf7;
  transition: 0.2s ease-in;
}


.heartssad path{
  color: red;
}