@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&family=Prompt:wght@100;200;300;400;500;600&family=Roboto:wght@100;300;400;500;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.main_topbar {
  width: 1440px;
  height: 40px;
  background: #ffffff;
  box-shadow: inset 0px -1px 0px #eeeeee;
  display: flex;
  align-items: center;
}

.cont_topbar {
  width: 89%;
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topbar_ul {
  width: 22.5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.topbar_li {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height, or 129% */

  /* Black/1 */

  color: #5c596d;
}

.topbar_right {
  width: 28%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topbar_right p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height, or 129% */

  /* Black/1 */

  color: #5c596d;
}

.topbar_call {
  display: flex;
  align-items: center;
}
.topbar_call span {
  margin-left: 3px;
}

.topbar_loc {
  display: flex;
  align-items: center;
  justify-content: center;
}

.topbar_loc span {
  margin-left: 3px;
}

.lang_btn {
  background: none;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.lang_btn span {
  margin: 0px 4px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height, or 129% */

  /* Black/1 */

  color: #5c596d;
}
