.mainFooterNav {
  width: 1440px;
  height: 492px;
  background: #f7f7f7;
}

.contFooterNav {
  width: 89%;
  margin: 0px auto;
}

.footerTopNav {
  padding-top: 96px;
}

.link_title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #1d1a2f;
}

.link_footerNav {
  font-family: "Poppins", sans-serif !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 20px !important;
  color: #5c596d !important;
  text-decoration: none !important;
  margin-top: 16px !important;
  cursor: pointer;
}

.link_footerNav:hover {
  color: #b2b2b2 !important;
}

.saf {
  margin-top: 16px;
}

.linkedn:hover {
  color: rgb(25, 0, 255);
}

.instagram:hover {
  color: rgb(220, 1, 180);
}

.twiter:hover {
  color: rgb(1, 114, 220);
}

.facebook:hover {
  color: rgb(0, 28, 243);
}

.footerBottomNav {
  width: 46%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 64px;
}

.footerBottomNav h3 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #1d1a2f;
}

.footerBottomNav p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #5c596d;
  margin-top: 16px;
}

.bottom_secr {
  font-family: "Poppins",sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  text-align: center;
  margin-top: 96px;
}
