.quickLook_title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #5c596d;
}

.quickLook_exitIcon:hover {
  color: black;
  transition: 0.3s;
}

.line_hr {
  border-left: 2px solid #e5e5e5;
  height: 47px;
}

.rate_span {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #5c596d;
}

.quick_img {
  width: 286px;
  height: 295px;
  object-fit: contain;
}

.span_price {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #5c596d;
}
.p_color {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #9692b0;
  margin-top: 24px;
}

.radio_btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: red;
  border: 0px;
  outline: none;
}

.bl {
  background: #888888;
}

.gr {
  background: #3596ef;
}

.radi_div {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #1b5bf7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.memory_phone {
  height: 36px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #5c596d;
}

.memory_phone_p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #9692b0;
}

.phone_dual {
  height: 36px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #5c596d;
}

.btn_karzinka {
  width: 216px;
  height: 40px;
  background: #1b5bf7;
  border-radius: 4px;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  margin-top: 24px;
}

.btn_karzinka:hover {
  background-color: #013acc;
  transition: 0.3s ease-in-out;
}

.shopicon_karzinka {
  margin-right: 10px;
}

.btn_karzinka:hover .shopicon_karzinka {
  transform: rotate(14.95deg);
  transition: 0.2s;
}

.quickVariant {
  width: 88px;
  height: 88px;
  object-fit: cover;
  padding: 2px;
  border-radius: 4px;
}

.quickVariant:hover {
  border: 1px solid rgb(63, 63, 210);
  transition: 0.4s;
}

.padrobno_btn {
  width: 200px;
  height: 56px;
  background: #EAE9EF;
  border-radius: 4px;
  font-family: "Poppins",sans-serif ;
  font-style: normal;
  font-weight: 500;
  font-size: 16px ;
  line-height: 20px;
  color: #1D1A2F;
  border: none;
  outline: none;
  position:absolute;
  left: 37%;
  top: 90%;
}

.padrobno_btn:hover{
  background: #d0d0d2;
  transition: 0.3s;
}
