.main_ProductList {
  width: 1440px;
  height: 380px;
  background: #ffffff;
  margin-top: 32px;
}

.cont_ProductList {
  width: 89%;
  margin: 0px auto;
}

.productList_title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #5c596d;
  padding-top: 32px;
}

.category_prod {
  width: 300px;
  height: 232px;
  margin-top: 24px;
  background: #f7f7f7;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.category_img {
  width: 270px;
  height: 160px;
}

.category_title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  margin-top: 16px;
  color: #5c596d;
}
