
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container_all{
  max-width: 1440px;
  width: 100%;
  padding: 0 15px;
  margin: 0px auto;
  box-sizing: border-box;
}

*{
  font-family: 'Poppins',sans-serif;
}
 
.LinkM{
  color:#ffff;
}

a{
  text-decoration: none;
  list-style: none;
}
