@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&family=Prompt:wght@100;200;300;400;500;600&family=Roboto:wght@100;300;400;500;700&display=swap");

.main_nav {
  width: 1440px;
  height: 40px;
  background: #f8f8f8;
  display: flex;
  align-items: center;
}

.cont_nav {
  width: 89%;
  margin: 0px auto;
  display: flex;
  align-items: center;
}

.links_NavBar {
  list-style: none!important;
  text-decoration: none!important;
  font-style: normal!important;
  font-weight: 400!important;
  font-size: 15px!important;
  line-height: 20px!important;
  color: #5c596d!important;
  flex: none!important;
  order: 0!important;
  flex-grow: 0!important;
  margin: 0px 32px 0px 10px!important;
}
